<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="lightpick.css">


</head>

<body>


    <input type="text" id="demo-3_1"><input type="text" id="demo-3_2">

    <div id="result-3"></div>



    <script src="moment.js"></script>
    <script src="lightpick.js"></script>
    <script src="index.js"></script>
 
</body>

</html>